.about {
  margin: 29px auto 18px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.about__title {
  width: 100%;
  margin: 0 0 18px;
}

@media (--tablet) {
  .about {
    margin: 50px auto 53px;
  }

  .about__wrapper {
    flex-direction: row;

    flex-wrap: wrap;
  }

  .about__title {
    margin-bottom: 20px;
  }
}

@media (--desktop) {
  .about__wrapper {
    margin: 60px auto;
    padding-left: $column-width-dekstop;
  }
  .about__title {
    margin-bottom: 18px;
  }
}
