.btn {
  font-family: $font;
  font-size: 17px;
  line-height: 20px;

  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 14px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;

  border: 2px solid $gray;
  background-color: #ffffff;
  @mixin button;
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $gray;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
  &.btn--green,
  &.btn--green {
    color: #ffffff;
    border-color: $color-main;
    background-color: $color-main;
  }
  &.btn--green:hover,
  &.btn--green:focus {
    color: $color-main;
    background-color: #ffffff;
  }
  &.btn--green:active {
    opacity: 0.6;
  }
}
