.checkbox {
  font-size: 17px;
  line-height: 18px;

  position: relative;
  cursor: pointer;

  display: block;
  overflow: hidden;

  margin-bottom: 22px;
  @mixin title;
  &:last-child {
    margin-bottom: 11px;
  }
}

.checkbox:focus .checkbox__text::before,
.checkbox:hover .checkbox__text::before {
  border-color: $color-main;
}

.checkbox:active .checkbox__text::before {
  border-color: $light-gray;
}

.checkbox__input {
  display: none;
}

.checkbox__text {
  display: flex;

  align-items: center;
  &::before {
    box-sizing: border-box;
    align-self: flex-start;
    width: 39px;
    height: 39px;
    margin-right: 23px;

    content: '';

    border: 2px solid $gray;

    flex-shrink: 0;
  }
}

.checkbox__input:checked + .checkbox__text::before {
  background: url('../img/icon-tick.svg') no-repeat center;
  background-size: 22px 16px;
}

@media (--tablet) {
  .checkbox {
    font-size: 19px;

    width: 48%;
    margin-right: 4%;
    margin-bottom: 23px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .checkbox__text {
    &::before {
      width: 53px;
      height: 53px;
      margin-right: 27px;
    }
  }

  .checkbox__input:checked + .checkbox__text::before {
    background-size: 30px 21px;
  }
}

@media (--desktop) {
  .checkbox {
    width: 30%;
    margin-right: 0;
  }
}
