.container {
  padding-right: $container-padding-mobile;
  padding-left: $container-padding-mobile;
}

@media (--tablet) {
  .container {
    padding-right: $container-padding-tablet;
    padding-left: $container-padding-tablet;
  }
}

@media (--desktop) {
  .container {
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
}
