.developer {
  display: flex;

  margin: 24px 0 22px;

  cursor: pointer;

  justify-content: center;
  &:hover .developer__logo,
  &:focus .developer__logo {
    fill: $color-hover;
  }
  &:active {
    opacity: 0.3;
  }
}

.developer__title {
  font-size: 19px;
  line-height: 24px;

  padding-right: 28px;
  @mixin title;
}

.developer__logo {
  fill: $color-main;
  width: 27px;
  height: 34px;
}

@media (--tablet) {
  .developer {
    min-width: 200px;
    margin: 8px 0 0;

    justify-content: flex-end;
  }
}
