.feature {
  font-size: 17px;
  line-height: 20px;

  box-sizing: border-box;
  margin: 16px 0;
  padding: 52px 10px 0 0;

  background-repeat: no-repeat;
  @mixin title;
  &.feature--ecological {
    background-image: url('../img/icon-feature-1.svg');
    background-position: 8px top;
  }
  &.feature--scandinavian {
    background-image: url('../img/icon-feature-3.svg');
    background-position: left top;
  }
  &.feature--likes {
    background-image: url('../img/icon-feature-5.svg');
    background-position: 7px 4px;
  }
  &.feature--knit {
    background-image: url('../img/icon-feature-2.svg');
    background-position: 4px top;
  }
  &.feature--domestic {
    background-image: url('../img/icon-feature-4.svg');
    background-position: left top;
  }
  &.feature--gift {
    background-image: url('../img/icon-feature-6.svg');
    background-position: 3px top;
  }
}

@media (--tablet) {
  .feature {
    font-size: 20px;
    line-height: 22px;

    width: 50%;
    margin: 30px 0;
    padding-right: 40px;
    &.feature--ecological {
      order: 1;
    }
    &.feature--scandinavian {
      order: 3;
    }
    &.feature--likes {
      order: 5;
    }
    &.feature--knit {
      order: 2;
    }
    &.feature--domestic {
      order: 4;
    }
    &.feature--gift {
      order: 6;
    }
  }
}

@media (--desktop) {
  .feature {
    width: 40%;
  }
}
