.feedback {
  position: relative;

  margin: 10px 0 35px;
  padding-bottom: 52px;
  @mixin bg-zigzag;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__title {
  margin-bottom: 10px;
}

.feedback__arrows {
  font-size: 0;

  margin: 28px 0 38px;
}

.feedback__arrow {
  display: inline-block;
  cursor: pointer;

  width: 50%;
  padding: 12px;

  vertical-align: top;

  border: 1px solid $color-border;
  background-color: #ffffff;
  &:hover .feedback__icon,
  &:focus .feedback__icon {
    opacity: 0.6;
  }
  &:active .feedback__icon {
    opacity: 0.3;
  }
}

.feedback__icon {
  width: 51px;
  height: 26px;
}

@media (--tablet) {
  .feedback {
    flex-direction: row;

    margin: 10px auto 47px;
    padding: 78px 0 130px;

    background-color: #ffffff;
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
    @media (--retina) {
      background-image: url('../img/review@2x.jpg');
      background-size: 351px auto;
    }
  }

  .feedback__wrapper {
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__title {
    margin: 0;

    order: -1;
  }

  .feedback__arrows {
    margin: -55px 0 0 auto;
  }

  .feedback__arrow {
    width: 86px;
  }

  .feedback__button {
    width: 175px;
    margin-right: 0;

    order: -1;
  }
}

@media (--desktop) {
  .feedback {
    padding: 70px 0 183px;

    background-position-x: calc(50% - 350px);
  }

  .feedback__title,
  .feedback__list {
    padding-left: $column-width-dekstop;
  }

  .feedback__button {
    margin-top: 8px;
  }
}
