.field {
  font-family: $font;

  box-sizing: border-box;
  width: 100%;
  padding: 15px 0 14px;

  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top 10px right 6px;
  &:hover,
  &:focus {
    border-color: $color-main;
  }
  &.field--tel {
    margin-bottom: 30px;

    background-image: url('../img/icon-phone.svg');
    &:hover,
    &:focus {
      background-image: url('../img/icon-phone-hover.svg');
    }
  }
  &.field--email {
    margin-bottom: 16px;

    background-image: url('../img/icon-mail.svg');
    &:hover,
    &:focus {
      background-image: url('../img/icon-mail-hover.svg');
    }
  }
  &.field--email,
  &.field--tel {
    padding-right: 40px;
  }
}

@media (--tablet) {
  .field {
    font-size: 19px;

    padding-left: 17px;

    background-position: top 11px right 23px;
    &.field--tel,
    &.field--email {
      margin-bottom: $input-margin;
    }
  }
}

@media (--desktop) {
  .field {
    background-position: top 11px right 6px;
  }
}
