.goods {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 $mobile-no-container;

  align-self: flex-end;
}

.goods__item {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  position: relative;

  min-height: 51px;
  margin: 0 $mobile-no-container;
  padding: 26px 150px 31px 28px;

  transition: all 0.1s;
  text-decoration: none;

  color: #ffffff;
  &::after {
    position: absolute;

    content: '';
    transition: opacity 0.1s;

    opacity: 0.5;
  }
  &:hover::after {
    opacity: 0.7;
  }
  &:active::after {
    opacity: 0.3;
  }
  &.goods__item--interior {
    transform: translateY(10px);

    background-color: $color-main;
    &:hover,
    &:focus {
      transform: translateY(5px);
    }
    &::after {
      top: 23px;
      right: 37px;

      width: 40px;
      height: 62px;

      background-image: url('../img/icon-interior.svg');
    }
  }
  &.goods__item--toys {
    transform: translateY(5px);

    background-color: $tiffany;
    &:hover,
    &:focus {
      transform: translateY(0);
    }
    &::after {
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;

      background-image: url('../img/icon-toy.svg');
    }
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (--tablet) {
  .goods {
    flex-direction: row;

    margin: 0;
  }

  .goods__item {
    font-size: 20px;
    line-height: 30px;

    width: 50%;
    min-height: 62px;
    margin: 0;
    padding: 29px 150px 34px 36px;
    padding-top: 30px;
    &.goods__item--interior {
      transform: translateY(5px);
      &:hover,
      &:focus {
        transform: translateY(0);
      }
      &::after {
        top: 31px;
      }
    }
    &.goods__item--toys {
      &::after {
        top: 33px;
        right: 33px;
      }
    }
  }
}

@media (--desktop) {
  .goods {
    width: 100%;
  }
  .goods__item {
    padding-right: 310px;
  }
}
