.map {
  margin: 0 $mobile-no-container 40px;
}

.map__item {
  width: 100%;
  height: 454px;
  border: none;
}

@media (--tablet) {
  .map {
    margin: 0 -7.47% 55px;
  }
}

@media (--desktop) {
  .map {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 525px;
    height: 457px;
    margin: 0;
  }
}
