.mishka {
  background-color: $color-border;
  min-height: 177px;
  display: flex;
  flex-direction: column;

  &--image {
    min-height: 479px;
    padding-top: 9px;
    background: $color-background url("../img/hero-mobile@1x.jpg") no-repeat center -19px;
  }
}

.mishka__title {
  font-size: 27px;
  line-height: 30px;
  @mixin title;
  text-align: center;
  margin: auto 20px;
}
