.page-footer {
  border-bottom: 1px solid transparent;
  background-color: $color-background;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__image {
  width: 102px;
  height: 34px;
  fill: #231f20;
  &:hover,
  &:focus {
    fill: $color-hover;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (--tablet) {
  .page-footer__wrapper {
    flex-direction: row;

    padding-top: 51px;
    padding-bottom: 50px;
  }

  .page-footer__logo {
    display: block;

    min-width: 200px;

    text-align: left;
  }
}
