.page-header {
  background-color: #ffffff;
  min-height: 78px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid $color-border;
  position: relative;
}

.page-header__button {
  position: absolute;
  background: url("../img/icon-menu-open.svg");
  background-size: 21px 21px;
  padding: 0;
  cursor: pointer;
  width: 21px;
  height: 21px;
  top: 28px;
  right: 31px;
  border: none;

  &--close {
    background: url("../img/icon-menu-close.svg");
  }
}

.page-header__logo {
  margin: 21px auto 17px;
  text-align: center;
  display: block;
  width: 86px;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  z-index: 1;

  &--visible {
    display: block;
  }
}

.page-header__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header__item {
  border-bottom: 1px solid $color-border;
  position: relative;
  background-repeat: no-repeat;
  background-position: 31px;

  &--search {
    background-image: url("../img/icon-search.svg");
  }

  &--basket {
    background-image: url("../img/icon-cart.svg");
  }
}

.page-header__link {
  font-size: 17px;
  line-height: 24px;
  @mixin title;
  text-decoration: none;
  display: block;
  padding: 25px 25px 29px 75px;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
