.pick {
  margin: 25px 0 30px;
  padding: 0;

  border: none;
}

.pick__label {
  float: left;

  box-sizing: border-box;
  width: 82px;
  height: 52px;
  margin-right: 7px;

  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.pick__letter {
  font-size: 17px;
  line-height: 20px;

  display: block;

  padding: 15px;

  border: 2px solid $color-border;
  @mixin button;
  &:hover {
    border-color: $light-gray;
  }
}

.pick__radio {
  display: none;
  &:checked + .pick__letter {
    border-color: $color-main;
  }
}

@media (--tablet) {
  .pick {
    margin: 20px 0 30px;
  }
  .pick__label {
    width: 113px;
  }
}
