.radio {
  font-size: 17px;
  line-height: 18px;

  display: block;

  width: 100%;
  margin-bottom: 13px;
  @mixin title;
}

.radio:hover .radio__text::before,
.radio:focus .radio__text::before {
  border-color: $color-main;
}

.radio:active .radio__text::before,
.radio__choose:disabled + .radio__text::before {
  border-color: $light-gray;
}

.radio__choose:disabled + .radio__text {
  cursor: not-allowed;
  color: $light-gray;
}

.radio__choose {
  display: none;
}

.radio__text {
  display: flex;

  cursor: pointer;

  align-items: baseline;
  &::before {
    box-sizing: border-box;
    width: 39px;
    height: 39px;
    margin-right: 23px;
    padding: 10px;

    content: '\00A0';

    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #ffffff;
    background-clip: content-box;

    flex-shrink: 0;
  }
}

.radio__choose:checked + .radio__text::before {
  background-color: $color-main;
}

@media (--tablet) {
  .radio {
    font-size: 19px;

    margin-bottom: $input-margin;
  }

  .radio__text {
    &::before {
      width: 52px;
      height: 52px;
      margin-right: 28px;
      padding: 14px;
    }
  }
}
