.title {
  font-size: 25px;
  line-height: 30px;
  @mixin title;
}

@media (--tablet) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (--desktop) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
