$font: 'Open Sans', Arial, sans-serif;

$color-main: #63d1bb;
$color-background: #f1f1f1;
$color-border: #ececec;
$color-hover: #46c1ae;
$gray: #444444;
$light-gray: #c7c7c7;
$tiffany: #56c3b2;

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1150px);
@custom-media --retina (min-resolution: 144dpi), (min-resolution: 1.5dppx);

$container-padding-mobile: 9.375%;
$container-padding-tablet: 6.5%;
$column-width-tablet: 25%;
$column-width-dekstop: 175px;
$mobile-no-container: -11.5%;
